@import "../../var.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  box-sizing: border-box;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 14px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 40px; 
  box-sizing: border-box;
}

.history {
  width: 100%; 
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, rgba(7, 61, 162, 0.6) 0%, rgb(71, 71, 71) 100%);
  border-radius: 10px;
  padding: 24px;
  width: 100%; 
  box-sizing: border-box;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
  flex: 1; 
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 12px 0;
}

.historyItemDetails ul {
  margin: 0;
  margin-left: 20px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  padding-left: 0;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .history {
    width: 100%;
    gap: 20px;
  }

  .historyItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .historyItemDetails h3 {
    font-size: 24px;
  }

  .historyItemDetails p {
    font-size: 18px;
  }

  .historyItemDetails ul {
    font-size: 20px;
  }
}